*{
    font-family: "DS Sans";
    font-weight: 700;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_title{
    font-size: 36;
}
.navbar_link{
    font-weight: 400;
    font-size: 18;
}