@font-face {
    font-display: swap; 
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); 
  }
  
@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v15-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2'); 
}

*{
    font-family: "DM Sans";
    font-weight: 700;
    box-sizing: border-box;
}

.container{
    padding: 40px 90px;

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_title{
    
    font-size: 36;
}
.navbar_link{
    font-weight: 400;
    font-size: 18;
}